<section id="bottom" class="footer-menu">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6 company">
                <div class="widget">
                    <div class="header-bg"></div>
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Collaboration</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Reviews</a></li>

                    </ul>
                </div>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-3 col-sm-6 news">
                <div class="widget">
                    <div class="header-bg"></div>
                    <h3>News</h3>
                    <ul>
                        <li><a href="#">Web Development News</a></li>
                        <li><a href="#">Analytics & Marketing News</a></li>
                        <li><a href="#">Design News</a></li>
                        <li><a href="#">Videography News</a></li>
                        <li><a href="#">Photography News</a></li>
                        <li><a href="#">IT Literature News</a></li>
                        <li><a href="#">Hi-Tech News</a></li>
                        <li><a href="#">IT Business News</a></li>
                    </ul>
                </div>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-3 col-sm-6 portfolio">
                <div class="widget">
                    <div class="header-bg"></div>
                    <h3>Portfolio</h3>
                    <ul>
                        <li><a href="#">Web Frameworks Development</a></li>
                        <li><a href="#">Web CMS Development</a></li>
                        <li><a href="#">Web Analytics & Marketing</a></li>
                        <li><a href="#">Web Project Support</a></li>
                        <li><a href="#">Web Design & HTML Markup</a></li>
                        <li><a href="#">Video Editing & ScriptWriting</a></li>
                        <li><a href="#">Photo Edition</a></li>
                        <li><a href="#">Article Writing</a></li>
                    </ul>
                </div>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-3 col-sm-6 products">
                <div class="widget">
                    <div class="header-bg"></div>
                    <h3>Products</h3>
                    <ul>
                        <li><a href="#">Order solution on Framework</a></li>
                        <li><a href="#">Order solution on CMS</a></li>
                        <li><a href="#">Order analytical report, marketing plan</a></li>
                        <li><a href="#">Order web project support</a></li>
                        <li><a href="#">Order HTML markup</a></li>
                        <li><a href="#">Order video scenario</a></li>
                        <li><a href="#">Order subject photoset</a></li>
                        <li><a href="#">Order subject article</a></li>
                    </ul>
                </div>
            </div>
            <!--/.col-md-3-->
        </div>
    </div>
</section>
<!--/#bottom-->
<footer id="footer" class="midnight-blue" ng-controller="FooterCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2010 - <span ng-bind="year"></span> <a target="_blank" href="https://www.facebook.com/pages/Share-YourSelf/760444804027873" title="Share-YourSelf"> Share-YourSelf</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                            <li><a href="https://plus.google.com/u/0/+OksanaRegunova/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.facebook.com/pages/Share-YourSelf/760444804027873" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://linkedin.com/in/oksanaregunova/"><i class="fa fa-linkedin" target="_blank"></i></a></li>
                            <li><a href="https://www.behance.net/oksanaregu87f7"><i class="fa fa-behance" target="_blank"></i></a></li>
                            <li><a href="https://github.com/oksanar"><i class="fa fa-github-alt" target="_blank"></i></a></li>
                            <li><a href="https://plus.google.com/hangouts/_/gxycwvul55zjrlxgp4tprkqofma"><i class="fa fa-quote-right"></i></a></li>
                            <li><a href="skype:oksana.regunova?call"><i class="fa fa-skype"></i></a></li>
                            <li><a title="+380661985885"><i class="fa fa-phone-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->