@import 'responsive.scss';
/*************************
*******Contacts Page******
**************************/
.call-hangouts a {
  background-position: -42px 0!important;

}
.call-hangouts a:hover {
  background-position: 0 0!important;

}

.call-skype a {
  background-position: -126px 0!important;

}

.call-skype a:hover {
  background-position: -84px 0!important;

}

.contacts{
 margin: 0;
  padding: 0;
  li{
    list-style: none;
    float: left;
    display: block;
    padding: 5px;
    a {  background: url(/assets/images/call-sprite.png) no-repeat top left;
      width: 40px;
      height: 40px;
      display: block;}
  }
}




.contact-info i{
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 10px;
}

.contact-info h2{
  margin-top: 0;
  color: #000;
}

.contact-info{
  color:#000;
}

